! Start flavours
! Base16 Generated
! Scheme: Flavours

#define base00 #3d221c
#define base01 #5c453f
#define base02 #7c6862
#define base03 #9b8b84
#define base04 #baafa7
#define base05 #d9d2ca
#define base06 #dfd8d2
#define base07 #e4dfda
#define base08 #956d83
#define base09 #906f7d
#define base0A #787878
#define base0B #89818c
#define base0C #907168
#define base0D #bb5d46
#define base0E #8b9296
#define base0F #847572

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base09
*color10:      base01
*color11:      base02
*color12:      base04
*color13:      base06
*color14:      base0F
*color15:      base07
! End flavours

dwm.normbgcolor: base00
dwm.normbordercolor: base00
dwm.normfgcolor: base06
dwm.selbgcolor: base02
dwm.selbordercolor: base02
dwm.selfgcolor: base06
dwm.borderpx: 5
!dwm.snap:
dwm.showbar: 1
dwm.nmaster: 1
dwm.resizehints: 0
dwm.mfact: 0.55

dmenu.font: GoMono Nerd Font:size=12
dmenu.background: base00
dmenu.foreground: base07
dmenu.selbackground: base02
dmenu.selforeground: base00
