! Start flavours
! Base16 Generated
! Scheme author: Flavours
! Template author: Tinted Theming (https://github.com/tinted-theming)

#define base00 #20272b
#define base01 #42494c
#define base02 #646a6c
#define base03 #868c8d
#define base04 #a8adad
#define base05 #cbcfce
#define base06 #d2d6d5
#define base07 #dadddc
#define base08 #ab7370
#define base09 #ab9c5b
#define base0A #677b87
#define base0B #74797f
#define base0C #6f788e
#define base0D #7d7779
#define base0E #6d8eae
#define base0F #687b86

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base09
*color10:      base01
*color11:      base02
*color12:      base04
*color13:      base06
*color14:      base0F
*color15:      base07
! End flavours

dwm.normbgcolor: base00
dwm.normbordercolor: base00
dwm.normfgcolor: base06
dwm.selbgcolor: base02
dwm.selbordercolor: base02
dwm.selfgcolor: base06
dwm.borderpx: 5
!dwm.snap:
dwm.showbar: 1
dwm.nmaster: 1
dwm.resizehints: 0
dwm.mfact: 0.55

dmenu.font: GoMono Nerd Font:size=12
dmenu.normbgcolor: base00
dmenu.normfgcolor: base07
dmenu.selbgcolor: base02
dmenu.selfgcolor: base00
