!#include "/home/marea/.xcolors/cosme"
#include "/home/marea/.xcolors/sayo-dark"
dwm.normbgcolor: clr00
dwm.normbordercolor: clr00
dwm.normfgcolor: clr15
dwm.selbgcolor: clr02
dwm.selbordercolor: clr02
dwm.selfgcolor: clr00
dwm.borderpx: 5
!dwm.snap:
dwm.showbar: 1
dwm.nmaster: 1
dwm.resizehints: 0
dwm.mfact: 0.55

dmenu.font: GoMono Nerd Font:size=12
dmenu.background: clr00
dmenu.foreground: clr07
dmenu.selbackground: clr02
dmenu.selforeground: clr00

! special
*.foreground:   clr07
*.background:   clr00
*.cursorColor:  clr07

! black
*.color0:       clr00
*.color8:       clr08

! red
*.color1:       clr01
*.color9:       clr09

! green
*.color2:       clr02
*.color10:      clr10

! yellow
*.color3:       clr03
*.color11:      clr11

! blue
*.color4:       clr04
*.color12:      clr12

! magenta
*.color5:       clr05
*.color13:      clr13

! cyan
*.color6:       clr06
*.color14:      clr14

! white
*.color7:       clr07
*.color15:      clr15
