/*
 * Base16 dwm template by Daniel Mulford
 * {{scheme-name}} scheme by {{scheme-author}}
 */
static const char col_base00[]      = "#{{base00-hex}}";
static const char col_base01[]      = "#{{base01-hex}}";
static const char col_base02[]      = "#{{base02-hex}}";
static const char col_base04[]      = "#{{base04-hex}}";
static const char col_base0C[]      = "#{{base0C-hex}}";
static const char col_base0D[]      = "#{{base0D-hex}}";
