layout {

    focus-ring {
        active-color   "#efa7b4"
        inactive-color "#231a1c"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#efa7b4"
        inactive-color "#231a1c"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#231a1c70"
    }

    tab-indicator {
        active-color   "#efa7b4"
        inactive-color "#d21235"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#efa7b480"
    }
}

recent-windows {
    highlight {
        active-color "#efa7b4"
        urgent-color "#fd4663"
    }
}
