layout {

    focus-ring {
        active-color   "#ec5fa0"
        inactive-color "#29141e"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#ec5fa0"
        inactive-color "#29141e"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#29141e70"
    }

    tab-indicator {
        active-color   "#ec5fa0"
        inactive-color "#940547"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#ec5fa080"
    }
}

recent-windows {
    highlight {
        active-color "#ec5fa0"
        urgent-color "#fd4663"
    }
}
