/* Start flavours */
:root {
  --bg: #452121;
  --fg: #efeae9;
  --dim: #ece6e5;
  --p: #876e6d;
}
/* End flavours */

*,
*::after,
*::before {
	box-sizing: inherit;
}

html {
	font-family: GoMono Nerd Font, monospace;
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	background-color: var(--bg);
	color: var(--fg);
	font-size: 1.2rem;
	margin: 0 auto;
	padding: 2em;
	column-gap: 1em;
	min-height: 100vh;
}

@media only screen and (min-width: 800px) {
	body {
		column-count: 4;
	}
}

a {
	color: var(--fg);
}

a:hover,
a:focus {
	color: var(--p);
}

.container {
	border: 3px double var(--fg);
	padding: 0.5em;
	display: inline-block;
	width: 100%;
	margin-bottom: 1em;
}

.container *:first-child {
	margin-top: 0;
}

.container *:last-child {
	margin-bottom: 0;
}

.container--empty {
	height: 50px;
}

.container--no-border {
	border: none;
}

.alt-color {
	color: var(--dim);
}

.quote__author:before {
	content: "— ";
}

.logo svg {
	height: 50px;
	width: auto;
	margin: 0 auto;
	display: block;
}

.logo path {
	fill: var(--fg);
}

.center {
	text-align: center;
}
