palette =  8=#{{base00-hex}}
palette =  9=#{{base01-hex}}
palette = 10=#{{base02-hex}}
palette = 11=#{{base03-hex}}
palette = 12=#{{base04-hex}}
palette = 13=#{{base05-hex}}
palette = 14=#{{base06-hex}}
palette = 15=#{{base07-hex}}

palette = 0=#{{base08-hex}}
palette = 1=#{{base09-hex}}
palette = 2=#{{base0A-hex}}
palette = 3=#{{base0B-hex}}
palette = 4=#{{base0C-hex}}
palette = 5=#{{base0D-hex}}
palette = 6=#{{base0E-hex}}
palette = 7=#{{base0F-hex}}

background = #{{base00-hex}}
foreground = #{{base05-hex}}
cursor-color = #{{base05-hex}}
cursor-text = #{{base00-hex}}
selection-background = #{{base00-hex}}
selection-foreground = #{{base05-hex}}
