default = {
    x         = {relative = 1; offset = -48;};
    y         = {relative = 0.5; offset = 0;};
    length    = {relative = 0.3; offset = 0;};
    thickness = 24;
    outline   = 3;
    border    = 4;
    padding   = 3;
    orientation = "vertical";

    overflow = "proportional";

# Start flavours
color = {
	normal = {
		fg     = "#7c6862";
		bg     = "#3d221c";
		border = "#7c6862";
	};
	alt = {
		fg     = "#7c6862";
		bg     = "#3d221c";
		border = "#7c6862";
	};
	overflow = {
		fg     = "#7c6862";
		bg     = "#3d221c";
		border = "#7c6862";
	};
	altoverflow = {
		fg     = "#7c6862";
		bg     = "#3d221c";
		border = "#7c6862";
	};
};
# End flavours
};

offset = {
    x         = {relative = 1; offset = -96;};
    y         = {relative = 0.5; offset = 0;};
    length    = {relative = 0.3; offset = 0;};
    thickness = 24;
    outline   = 3;
    border    = 4;
    padding   = 3;
    orientation = "vertical";

    overflow = "proportional";

## Start flavours
color = {
	normal = {
		fg     = "#7c6862";
		bg     = "#3d221c";
		border = "#7c6862";
	};
	alt = {
		fg     = "#7c6862";
		bg     = "#3d221c";
		border = "#7c6862";
	};
	overflow = {
		fg     = "#7c6862";
		bg     = "#3d221c";
		border = "#7c6862";
	};
	altoverflow = {
		fg     = "#7c6862";
		bg     = "#3d221c";
		border = "#7c6862";
	};
};
## End flavours
};
