color = {
	normal = {
		fg     = "#{{base02-hex}}";
		bg     = "#{{base00-hex}}";
		border = "#{{base02-hex}}";
	};
	alt = {
		fg     = "#{{base02-hex}}";
		bg     = "#{{base00-hex}}";
		border = "#{{base02-hex}}";
	};
	overflow = {
		fg     = "#{{base02-hex}}";
		bg     = "#{{base00-hex}}";
		border = "#{{base02-hex}}";
	};
	altoverflow = {
		fg     = "#{{base02-hex}}";
		bg     = "#{{base00-hex}}";
		border = "#{{base02-hex}}";
	};
};
